.qoute {
    width: 1000px;   
}

.highschool-pic{
    margin-top: 850px;
}

article {
    margin-top: 500px;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#over {
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.75); 
}

#box1{
    background-color: rgba(150, 235, 235, 0.87);
    color: rgb(150, 235, 235);
    width: 500px;
    height: 250px;
    margin-top: -300px;
    margin-left: -9px;
}