*{
    margin: 0;
    padding: 0;
}

.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100vh;
    height: 100vh;
}

header{
    background: rgba(0,0,100,0.5);
    height: 100vh;
}

